<strong>recuperando senha</strong>

<p> Recuperação de senha realizada por email ({{email}}). Caso você não requisitou a recuperação troque sua senha.</p>


<p> Para continuar clique aqui {{token}}</p>

<a href="{{link}}"> Criar nova senha</a>